<div mat-dialog-actions>
    <button class="close" mat-icon-button  color="warn" (click)="dialogRef.close()">
        <mat-icon>cancel</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <mat-progress-bar mode="determinate" [value]="uploader.progress" *ngIf="uploader?.queue?.length>0">
    </mat-progress-bar>
    <div fxLayout="row" fxLayoutAlign="center center">
        <input type="file" ng2FileSelect [uploader]="uploader" name="avatar" />
        <div *ngFor="let item of uploader.queue" class="flex space-between">
            <button mat-raised-button (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess" class="mat-warn">
                <i class="material-icons">save</i> Upload </button>
        </div>
    </div>


  <!--&lt;!&ndash; File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect &ndash;&gt;-->
  <!--<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />-->
  <!--&lt;!&ndash; button to trigger the file upload when submitted &ndash;&gt;-->
  <!--<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">-->
    <!--<i class="material-icons">save</i> Upload-->
  <!--</button>-->

  <!--&lt;!&ndash; File input for upload without using the plugin. &ndash;&gt;-->
  <!--<input id="photo" type="file" />-->
  <!--&lt;!&ndash; button to trigger the file upload when submitted &ndash;&gt;-->
  <!--<button type="button" mat-raised-button class="mat-warn" (click)="upload()">-->
    <!--<i class="material-icons">save</i> Upload-->
  <!--</button>-->
    <br/>
    <mat-grid-list class="media-list" cols="3" rowHeight="4:3" gutterSize="12" fxLayout="row" fxLayoutAlign="space-between center"
        fxLayoutWrap>
        <mat-grid-tile *ngFor="let i of media" (click)="ok(i.path)">
            <mat-card class="card">
                <button mat-icon-button (click)="close()" color="warn" class="close">
                    <mat-icon>close</mat-icon>
                </button>
                <mat-card-header>
                    <h3 style="font-size: 14px;">{{i.name}}</h3>
                </mat-card-header>
                <mat-card-content fxLayout="row" fxLayoutAlign="center center">
                    <img src="{{site_url+i.path}}" draggable="false" alt="{{i.name}}">
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <!--<mat-card class="card" *ngFor="let p of media; let i = index;" id="{{p?._id}}">
        <mat-card-header>
            <mat-card-title>{{p.name}}</mat-card-title>
            <mat-card-subtitle>{{p.path}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="p?.path">
        <mat-card-actions>
            <button mat-button><b>Uploaded by:</b> {{p.uname}} ({{p.uemail}})</button>
            <button mat-button><b>Size:</b>{{ p.size/1024/1024 | number:'.2' }} MB</button>
            <button mat-button><b>Created:</b> {{p.createdAt}}</button>
        </mat-card-actions>
    </mat-card>-->
</div>
